* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 100%;
  width: 100%;
  height: 100%;
  font-size: calc(14px + 7 * (100vw / 1440));
}

.weather__nav-container {
  width: 100%;
  height: 70px;
  padding: 5px calc(20px + 40 * (100vw / 1440));
  background-color: #363636;
  position: fixed;
}

.weather__nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather__nav a {
  text-decoration: none;
}

.weather__nav-label {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather__nav-icon {
  background: url("../pictures/nav-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}

.weather__nav-icon img {
  height: 100%;
  width: 100%;
}

.weather__nav-text {
  color: #fff;
  padding: 0px 10px;
  font-size: calc(14px + 7 * (100vw / 1440));
}

.weather__nav-options {
  font-size: 0.85em;
}

.weather__nav-options a {
  color: #fff;
}

.weather__nav-options a:hover {
  color: #c9edfa;
}

.weather {
  padding: calc(20px + 40 * (100vw / 1440));
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #fff;
  text-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 0.3);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#99bbcb), color-stop(#a5c7d7), color-stop(#b1d4e2), color-stop(#bde0ee), to(#c9edfa));
  background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
}

.weather .weather__content {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0px 30px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather .weather__content .weather__characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 20px;
}

.weather .weather__content .weather__characteristics .weather__description {
  padding: 0px 10px;
}

@media (max-width: 900px) {
  .weather .weather__content .weather__characteristics {
    width: 80%;
  }
  .weather .weather__content .weather__characteristics .weather__wind span,
  .weather .weather__content .weather__characteristics .weather__humidity span {
    display: none;
  }
}

@media (max-width: 440px) {
  .weather .weather__content .weather__characteristics {
    width: 100%;
  }
}

.weather .weather__content .weather__icon {
  color: #bee2e0;
  padding: 10px;
}

.weather .weather__content .weather__icon p,
.weather .weather__content .weather__icon a {
  color: rgba(255, 255, 255, 0.3);
  font-size: small;
}

.weather .weather__content .weather__icon p {
  margin: 1.375rem 0;
}

.weather .weather__content .weather__icon .icon {
  position: relative;
  display: inline-block;
  font-size: 0.4em;
  /* control icon size here */
}

.weather .weather__content .weather__icon .cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: currentColor;
  border-radius: 50%;
  -webkit-box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
          box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
}

.weather .weather__content .weather__icon .cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: currentColor;
  -webkit-box-shadow: 0 0.4375em 0 -0.0625em #fff;
          box-shadow: 0 0.4375em 0 -0.0625em #fff;
}

.weather .weather__content .weather__icon .cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  -webkit-box-shadow: -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
          box-shadow: -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  -webkit-transform: scale(0.5) translate(6em, -3em);
          transform: scale(0.5) translate(6em, -3em);
  -webkit-animation: cloud 4s linear infinite;
          animation: cloud 4s linear infinite;
}

.weather .weather__content .weather__icon .cloud:nth-child(2):after {
  background: #fff;
}

.weather .weather__content .weather__icon .rain,
.weather .weather__content .weather__icon .lightning,
.weather .weather__content .weather__icon .snow {
  border-radius: 14px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: currentColor;
}

.weather .weather__content .weather__icon .rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
  -webkit-box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  -webkit-transform: rotate(-28deg);
          transform: rotate(-28deg);
  -webkit-animation: rain 3s linear infinite;
          animation: rain 3s linear infinite;
}

.weather .weather__content .weather__icon .sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: currentColor;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0.375em #fff;
          box-shadow: 0 0 0 0.375em #fff;
  -webkit-animation: spin 12s infinite linear;
          animation: spin 12s infinite linear;
}

.weather .weather__content .weather__icon .rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #fff;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 5.375em #fff;
          box-shadow: 0 5.375em #fff;
}

.weather .weather__content .weather__icon .rays:before,
.weather .weather__content .weather__icon .rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-transform-origin: 50% 3.25em;
          transform-origin: 50% 3.25em;
  background: #fff;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 5.375em #fff;
          box-shadow: 0 5.375em #fff;
}

.weather .weather__content .weather__icon .rays:before {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

@-webkit-keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5) translate(-200%, -3em);
            transform: scale(0.5) translate(-200%, -3em);
  }
}

@keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5) translate(-200%, -3em);
            transform: scale(0.5) translate(-200%, -3em);
  }
}

@-webkit-keyframes rain {
  0% {
    background: #0cf;
    -webkit-box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
            box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
  25% {
    -webkit-box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
            box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
}

@keyframes rain {
  0% {
    background: #0cf;
    -webkit-box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
            box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
  25% {
    -webkit-box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
            box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.weather .weather__content h1 {
  font-size: 2.2em;
  text-align: center;
  color: #fff;
  font-size: 5em;
}

.weather .weather__content .weather__location {
  font-size: 1.6em;
}

.weather .weather__form-container {
  padding: 30px 0px 20px 0px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather .weather__form-container .weather__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather .weather__form-container .weather__form .weather__label {
  padding-bottom: 10px;
  color: #363636;
  text-shadow: none;
  font-size: 1.2em;
}

.weather .weather__form-container .weather__form .weather__input {
  outline: none;
  border: none;
  padding: 5px 15px 5px 15px;
  font-size: 1em;
  border-radius: 16px;
  width: 360px;
  max-width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #363636;
}

.clear {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#99bbcb), color-stop(#a5c7d7), color-stop(#b1d4e2), color-stop(#bde0ee), to(#c9edfa));
  background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
}

.sunny {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff4e50), color-stop(#ff713e), color-stop(#ff932b), color-stop(#ffb41d), to(#f9d423));
  background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
}

.cloudy {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#63747c), color-stop(#71858e), color-stop(#7f96a0), color-stop(#8da8b2), to(#9bbac5));
  background-image: linear-gradient(to right top, #63747c, #71858e, #7f96a0, #8da8b2, #9bbac5);
}

.rainy {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#637c7b), color-stop(#718e8c), color-stop(#7ea09e), color-stop(#8db2b0), to(#9bc5c3));
  background-image: linear-gradient(to right top, #637c7b, #718e8c, #7ea09e, #8db2b0, #9bc5c3);
}
/*# sourceMappingURL=style.css.map */